@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.container-main {
  width: min(400px, 100% - 50px);
  margin: 0 auto;
}
.container-nav {
  width: min(400px, 100% - 50px);
}

body {
  background: #F2F4F8;
}


